/* Colors */
h2, h2 a, #mainheader .current-menu-item a { color:#FF5ABB !important; } 
#mainheader, #menu, footer { background-color:#FF5ABB; color:white; }
a { color:#36A9B2; }
#mainheader nav a { color:white; }
td { background-color: #EBF9FA;  }