/* Colors */
h2 { color:#A61D6D } 
h2 a { color:#A61D6D; }
a { color:#8FC322; }
table a { color:#A61D6D; }
#mainheader, footer { background:#A61D6D; color:white; }
#mainheader nav a { color:white; }
.post header { border-bottom: 1px solid #efefef; }
#sidebar h2 { border-bottom: 1px solid #efefef; }
td { background-color: #FFF2FA;  }
#mainheader .current-menu-item { background:white; }
#mainheader .current-menu-item a { color:#A61D6D }
